<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>
  <body>
    <form action="/login/" method="POST">
      {% csrf_token %} User Name :
      <input type="text" name="txtuname" /><br /><br />
      Password : <input type="password" name="txtpass" /><br /><br />
      <button type="submit">LOGIN</button>
    </form>
  </body>
</html>
