<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Private page</title>
</head>
<body bgcolor="#00e68a">
<form action="/add/" method="post">
    <table>
        <thead>Private Jobs</thead>
        <tr>
            <td><input type="text" name="txtpadd1"></td>
            <td><input type="text" name="txtpadd2"></td>
            <td><input type="text" name="txtpadd3"></td>
            <td><input type="text" name="txtpadd4"></td>
            <td><input type="text" name="txtpadd5"></td>
            <td><input type="text" name="txtpadd6"></td>
            <td><button type="submit">Add News</button></td>
<!--            <td><button type="submit"><a href="/update/">Update News</a> </button></td>-->
<!--            <td><button type="submit"><a href="/delete/">Delete News</a> </button></td>-->
        </tr>
    </table>
</form>
</body>
</html>