<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display_page</title>
</head>
<body bgcolor="#decf6f">
<form align="center">
    &nbsp;&nbsp;&nbsp;&nbsp;
<h1>News-Portal</h1>

    <button type="button" ><a href="/top/">Top News</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button"><a href="/politics">Politics</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button"><a href="/trend/">Trending</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


</form>
</body>
</html>