<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display_page</title>
</head>
<body>
<form align="center">
    <h2>Vehicle Details</h2>
    <table align="center" border="1">
        <thead>
        <th>Brand</th>
        <th>Model</th>
        <th>Price</th>
        <th>Average</th>
        </thead>

        {% for var in result %}
        <tr>
            <td>{{var.Brand}}</td>
            <td>{{var.Model}}</td>
            <td>{{var.Price}}</td>
            <td>{{var.Average}}</td>
            <td><a href="/update/{{var.id}}/">Update</a> </td>
            <td><a href="/delete/{{var.id}}/">Delete</a> </td>
        </tr>
        {% endfor %}

    </table>

</form>
</body>
</html>